<details>
    <summary>HTML 5</summary>
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
</details>


<!--
<li><a href="#documentacion-html">HTML 5</a>
    <ul class="ordenar-li">
        <li><a href="#texto">Texto</a></li>
        <li><a href="#enlaces">Enlaces</a></li>
        <li><a href="#imagenes">Imagenes</a></li>
        <li><a href="#listas">Listas</a></li>
        <li><a href="#tablas">Tablas</a></li>
        <li><a href="#formulario">Formularios</a></li>
    </ul>
</li>



-->